.About {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .About__text {
    max-width: 880px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 0 50px;

    h1 {
      margin-bottom: 20px;
    }

    .About__description {
      p {
        color: var(--gray);
        font-size: 15px;
        line-height: 1.3em;
        letter-spacing: 0em;
        text-align: justify;
      }
    }
  }

  .worker {
    width: 100%;
    height: 502px;
    z-index: -1;

    img {
      position: relative;
      width: 100%;
      height: 502px;
      object-fit: cover;
    }
  }
}

@media (max-width: 1080px) {
  .About {
    .About__text {
      padding: 60px 10px 50px;
    }

    .worker {
      height: auto;
  
      img {
        height: auto;
      }
    }
  }
}

@media (max-width: 425px) {
  .About {
    .About__text {
      padding: 30px 10px 25px;
    }
  }
}