.About {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  .About__text {
    width: 880px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 0 50px;

    h1 {
      margin-bottom: 20px;
    }

    .About__description {
      p {
        color: var(--grey);
        font-size: 15px;
        line-height: 1.3em;
        letter-spacing: 0em;
        text-align: justify;
      }
    }
  }

  .worker {
    width: 100%;
    height: 502px;
    z-index: -1;

    img {
      position: relative;
      width: 100%;
      height: 502px;
      object-fit: cover;
    }
  }
}
