.Contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 41px calc((100% - 980px) * 0.5);

  h1 {
    margin-bottom: 132px;
  }

  .contactList {
    width: 100%;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 41px;

    .item {
      max-width: 247px;

      h2 {
        color: var(--secondary);
        font-size: 26px;
        font-weight: 400;
      }

      p {
        font-size: 15px;
      }
    }
  }

  .map {
    height: 370px;
    width: 980px;

    iframe {
      height: 100%;
      width: 100%;
      border: 1px solid;
      filter: grayscale(100%);
    }
  }
}

@media (max-width: 1024px) {
  .Contacts {
    .contactList {
      margin-bottom: 20px;
    }

    .map {
      width: 100%;
      padding: 0 20px;
    }
  }
}

@media (max-width: 768px) {
  .Contacts {
    h1 {
      margin-bottom: 66px;
    }
  }
}

@media (max-width: 425px) {
  .Contacts {
    .contactList {
      flex-direction: column;
    }
  }
}
