.Home {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;

  .divider-scroll-img {
    height: 249px;
  }

  .Technology {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 40px;
    z-index: 1;
    background-color: var(--white);

    &__wave {
      width: 100%;
      height: 100%;

      svg {
        top: 0;
        width: 100%;
        min-height: 150px;
        color: var(--gray-icon);
        transform: rotate(180deg) scaleX(-1);
      }
    }

    &__text {
      width: 520px;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      gap: 47px;
      margin-bottom: 28px;
      text-align: center;
    }
  }

  .OilRecovery {
    width: 100%;
    display: flex;
    justify-content: space-between;

    padding: 42px 80px 65px 80px;

    z-index: 1;
    background-color: var(--white);

    &__text {
      width: 588px;

      h2 {
        margin: 12px 0 14px 0;
        color: var(--secondary);
      }

      h1 {
        margin-bottom: 17px;
      }

      p {
        margin-bottom: 58px;
      }

      button {
        width: 236px;
        height: 43px;
        background: var(--grey);

        &:hover {
          background: rgb(100, 138, 218);
        }
      }
    }

    &__img {
      width: 639px;
      height: 468px;

      img {
        width: 639px;
        height: 468px;
        object-fit: cover;
      }
    }

    @media (max-width: 980px) {
    }
  }

  .trucks {
    img {
      height: 279px;
      width: 100%;
      object-fit: cover;
      position: relative;
    }
  }

  .Articles {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
    padding: 46px 0 45px;

    background-image: linear-gradient(
        rgba(255, 255, 255, 0.4),
        rgba(255, 255, 255, 0.4)
      ),
      url(../../assets/images/molecules.jpeg);
    background-size: cover;

    hr {
      margin: 22px 0 30px;
    }

    &__list {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 60px;
    }
  }
}
