.Footer {
  background-color: rgb(47, 46, 46);
  display: flex;
  justify-content: center;
  flex-direction: column;

  height: 596px;
  width: 100%;
  color: white;

  .detail {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    padding: 23px 60px 0 60px;
    width: 100%;

    h2 {
      font: var(--primary-font);
    }

    p {
      color: #ffffff;
    }

    .title,
    .btxt {
      color: #36aebf;
      text-align: center;
      font-size: 28px;
    }

    .column1 {
      display: flex;
      flex-direction: column;
      justify-self: start;
      gap: 36px;
      max-width: 328px;

      .siteSections {
        display: flex;
        flex-direction: column;
        gap: 38px;
        max-width: 328px;

        .nav-link:hover {
          color: #36aebf;
        }
      }

      .contacts {
        width: 355px;
        display: flex;
        flex-direction: column;
        justify-self: center;
        gap: 28px;

        .title {
          white-space: nowrap;
        }

        p {
          font-size: 16px;

          a {
            color: #ffffff;
            text-decoration: none;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }

    .add {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      justify-self: end;
      max-width: 328px;

      .title {
        white-space: nowrap;
      }

      .qr-code {
        width: 240px;
        height: 240px;
      }

      p {
        font-family: bai jamjuree, sans-serif;
        text-align: justify;
        font-size: 15px;
        line-height: 19px;
      }

      .cooperation {
        .logos {
          display: flex;
        }
      }

      .btxt {
        display: flex;
        text-align: start;
      }
    }
  }

  .copyright {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 30px;
  }
}
